/*-- scss:defaults --*/

$body-bg: #386641 !default;
$body-color: #fff !default;
$link-color: #fff !default;
$input-panel-bg: #fff !default;
$code-color: #fcf6bd !default;
$presentation-h1-font-size: 200% !important;
$presentation-h2-font-size: 175% !important;
$presentation-h3-font-size: 150% !important;
$presentation-h4-font-size: 150% !important;
$presentation-slide-text-align: justify;





